<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Test</title>
</head>
<body>

<h3>Introduction</h3>

Hypertext access or more commonly known as just .htaccess is a configuration file for servers based on Apache.
.htaccess files are used to enable or disable some features of the Apache.
If you're using some kind of development framework you might have encountered .htaccess files with deny all contents.

If you're


{% highlight javascript %}
<script type="text/javascript">
    var formData = new FormData();

    formData
</script>
{% endhighlight %}




</body>
</html>