---
layout: default
---
<div class="post">
    <header class="post-header">
        <h1 class="page-title">{{ page.title }}</h1>
    </header>
    <article class="post-content">
        I am a software engineer who likes to share his knowledge. One reason I've created this blog
        is so I can help myself to quickly find solutions to problems I've already solved. The other reason
        is to educate others and for them to educate me as well.

        Currently topics I'm interested in are Symfony2, Doctrine2, DevOps and PHP in general.
        In near future expect of me to write about Networks (Cisco), NodeJS and AngularJS.

        Apart from the contact details you can find in footer you can also contact me on my e-mail account:
        <a title="kknego mail" target="_blank" href="mailto:contact@krunoknego.com">contact@krunoknego.com</a>
    </article>
</div>