---
layout: default
---
<div class="post">
    <header class="post-header">
        <h1 class="page-title">{{ page.title }}</h1>
    </header>
    <article class="post-content">
        <div class="project-text">
            <a title="Symfony2 Box" href="https://github.com/locastic/SymfonyBox">
                <h2>Symfony2 Box</h2>
            </a>
            This is a vagrant box CentOS 6.5 x64 provisioned with ansible. It's a LAMP (Linux, Apache, MySQL, PHP)
            that comes with support for Symfony2 framework. It also comes with NodeJS, ElasticSearch, WkhtmltoPdf etc.
            <span>
                <a title="Symfony2 Box" href="https://github.com/locastic/SymfonyBox">
                    <i class="fa fa-github"></i> Symfony2 Box
                </a>
            </span>
        </div>
        <div class="project-text">
            <a title="BeachSpotter" href="http://beachspotter.com">
                <h2>BeachSpotter</h2>
            </a>
            Project about beaches. Go to the site and subscribe to the newsletter to get latest information when it
            gets started.
            <span>
                <a title="Beach Spotter" href="http://beachspotter.com">
                    <i class="fa fa-link"></i> beachspotter.com
                </a>
            </span>
        </div>
        <div class="project-text">
            <a title="Keto Apesy" href="http://ketoapsey.com">
                <h2>Keto Apesy</h2>
            </a>
            Project built on BOLT cms. If your interests include keto diet and fighting diabetes you might want to include
            this site to your bookmarks. There are lots of helpful tips.
            <span>
                <a title="Symfony2 Box" href="http://ketoapsey.com">
                    <i class="fa fa-link"></i> ketoapsey.com
                </a>
            </span>
        </div>
    </article>
</div>