---
layout: default
---
<div class="post">
    <header class="post-header">
        <h1 class="page-title">{{ page.title }}</h1>
    </header>
    <article class="post-content">
        <div class="project-image">
            <a title="Symfony2 Box" href="https://github.com/locastic/SymfonyBox">
                <img src="{{ site.url }}/assets/vagrantbox.png" width="200px" height="200px" alt="centos vagrant ansible"/>
            </a>
        </div>
        <div class="project-text">
            This is a vagrant box CentOS 6.5 x64 provisioned with ansible. It's a LAMP (Linux, Apache, MySQL, PHP)
            that comes with support for Symfony2 framework. It also comes with NodeJS, ElasticSearch, WkhtmltoPdf etc.
            <div class="project-links">
                <a title="Symfony2 Box" href="https://github.com/locastic/SymfonyBox">
                    <i class="fa fa-github"></i> Symfony Box
                </a>
            </div>
        </div>
    </article>
</div>