---
layout: default
---
<div class="post">
    <header class="post-header">
        <h1 class="page-title">{{ page.title }}</h1>
    </header>
    <article class="post-content">
        <a title="Symfony2 Twitter Clone Symfony2 & Redis" href="https://github.com/KrunoKnego/Symfony-Twitter-Clone">
            <h2>Twitter Clone on Symfony2 & Redis</h2>
        </a>
        <p>
            This is implementation of <a href="http://redis.io/topics/twitter-clone">
            http://redis.io/topics/twitter-clone</a> tutorial using Symfony2.
        </p>
        <span>
            <a title="Symfony2 Box" href="https://github.com/KrunoKnego/Symfony-Twitter-Clone">
                <i class="fa fa-github"></i> Twitter Clone on Symfony2 & Redis
            </a>
        </span>
        <a title="Symfony2 Box" href="https://github.com/KrunoKnego/SymfonyBox">
            <h2>Symfony2 Box</h2>
        </a>
        <p>
            This is a vagrant box CentOS 6.5 x64 provisioned with ansible. It's a LAMP (Linux, Apache, MySQL, PHP)
            that comes with support for Symfony2 framework. It also comes with NodeJS, ElasticSearch, WkhtmltoPdf &
            Redis.
        </p>
        <span>
            <a title="Symfony2 Box" href="https://github.com/KrunoKnego/SymfonyBox">
                <i class="fa fa-github"></i> Symfony2 Box
            </a>
        </span>
        <a title="BeachSpotter" href="http://beachspotter.com">
            <h2>BeachSpotter</h2>
        </a>
        <p>
            Project about beaches. Go to the site and subscribe to the newsletter to get latest information when it
            gets started.
        </p>
        <span>
            <a title="Beach Spotter" href="http://beachspotter.com">
                <i class="fa fa-link"></i> beachspotter.com
            </a>
        </span>
    </article>
</div>